@import 'tailwindcss';
@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import 'flyonui/variants.css';
@source "./node_modules/flyonui/flyonui.js";
@custom-variant dark (&:where(.not-likely, .not-likely *));
